@font-face {
  font-family: sf-regular;
  src: url("./font/SF-Pro-Text-Regular.otf");
}

@font-face {
  font-family: product-sans-regular;
  src: url("./font/ProductSans-Regular.ttf");
}

.rectangle{
  box-shadow: 0 1px 4px 0 rgba(192, 192, 192, 0.5);
  background-color: #f8f8f8;
  height: 60px;
}

.nav-item{
  width: 35px;
  height: 19px;
  opacity: 0.77;
  font-family: Product Sans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #888888;
}

#header-block {
padding-top:6.5rem;
}

.main-header{
  opacity: 0.77;
  font-family: Product Sans, Helvetica, sans-serif;
  font-size: 16px;
  color: #888888;
}

.sub-header{
  opacity: 0.77;
  font-family: Product Sans, Helvetica, sans-serif; /*change the fonts*/
  text-align: center;
  color: #111111;
}

.feature-block{
  margin-top: 3rem;
  background-color: #fff;
}

#feature-list ul{
  list-style: none;
  padding-left: 0;
  padding-top:1.5rem;

}

.feature-description {
  padding-bottom:1.5rem
}


.feature-description-text {
  width:96px;
  opacity: 0.24;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  color: #111111;
  padding-bottom:1.5rem
}

#image-block {
  margin-top:1.5rem;
  width: 366px;
  height: 172px;
  border: solid 1px #979797;
  background-color: #d8d8d8;

}

#background-role-block {
margin-top: 3rem
}
#background-block{
  padding-left: 0;
}

.intro-headers{
  font-family: Product Sans, Helvetica, sans-serif; /*change the fonts*/
  color: #111111;
}

.intro-description-text{
  font-family: sf-regular, Roboto, Helvetica /*change the fonts*/
  color: #999999;
}

.intro-description-text span{
  font-family: sf-regular, Roboto, Helvetica /*change the fonts*/
  color: #999999;
}

#decorator-block {
  background-color: #efefef;
  width: 100%;
  margin-top: 3rem
}

.full-image-center{
  display:block;
  margin-left:Auto;
  margin-right:auto;
  padding: 4rem;
  width:100%;
}

.process{
  padding-bottom: 4rem;
}

.process-image{
  display:block;
  margin-left:Auto;
  margin-right:auto;
  width:100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.deocoration-bar {
  width: 30px;
  height: 10px;
  background-color: #ffd46e;
}

#research-block {
margin-top: 6rem;
}

.image-block {
  background-color: #ffffff;
}

#analysis-block {
margin-top: 6rem;

}
