@font-face {
  font-family: sf-regular;
  src: url("./font/SF-Pro-Text-Regular.otf");
}

@font-face {
  font-family: sf-light;
  src: url("./font/SF-Pro-Text-Light.otf");
}

@font-face {
  font-family: sf-bold;
  src: url("./font/SF-Pro-Text-Bold.otf");
}

@font-face {
  font-family: product-sans-regular;
  src: url("./font/ProductSans-Regular.ttf");
}

@font-face {
  font-family: sf-medium;
  src: url("./font/SF-Pro-Text-Medium.otf");
}
@font-face {
  font-family: sf-mono-regular;
  src: url("./font/SF-Mono-Regular.otf");
}
@font-face {
  font-family: sf-medium;
  src: url("./font/SF-Mono-Light.otf");
}
.rectangle,
#nav-bar {
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 0.98);
  height: 60px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: product-sans-regular;
  padding-top: 21px;
  padding-bottom: 0px;
  transition: transform 0.4s;
}

.nav-item {
  width: 35px;
  height: 39px;
  opacity: 0.77;
  font-family: sf-light, Helvetica, sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555;
  display: block;
}
.first-item {
  box-shadow: 0px 2px #4080ff;
}

#logo {
  font-size: 64px;
}

#header-block {
  padding-top: 6.5rem;
}

.main-header h5 {
  opacity: 0.77;
  font-family: sf-medium, Helvetica, sans-serif !important;
  font-size: 16px;
  color: #999;
}

.sub-heading {
  opacity: 0.77;
  font-family: sf-medium, Roboto, Helvetica !important;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: #999999;
}

.sub-header h1 {
  opacity: 0.77;
  font-family: Product Sans, Helvetica, sans-serif !important; /*change the fonts*/
  text-align: center;
  color: #111;
  font-size: 45px;
  line-height: 3.5rem;
}

.sub-header h3 {
  opacity: 0.77;
  font-family: Product Sans, Helvetica, sans-serif !important; /*change the fonts*/
  text-align: center;
  color: #111;
  font-size: 24px;
}

.feature-block {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #fff;
}

#feature-list ul {
  list-style: none;
  padding-left: 0;
  padding-top: 1.5rem;
}

.feature-description {
  padding-bottom: 1.5rem;
}

.feature-description-text {
  width: 96px;
  opacity: 0.24;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  color: #111111;
  padding-bottom: 1.5rem;
}

#image-block {
  margin-top: 1.5rem;
  width: 366px;
  height: 172px;
  border: solid 1px #979797;
  background-color: #d8d8d8;
}

#background-role-block {
  margin-top: 3rem;
}
#background-block {
  padding-left: 0;
}

.intro-headers {
  font-family: sf-medium, Helvetica, sans-serif !important; /*change the fonts*/
  color: #111;
}
.intro-headers h4 {
  font-family: sf-medium, Helvetica, sans-serif !important; /*change the fonts*/
  color: #111;
}
.intro-headers p {
  font-family: sf-light, Helvetica, sans-serif !important; /*change the fonts*/
}

.finding-text h2 {
  font-family: sf-regular, Roboto, Helvetica !important; /*change the fonts*/
  color: #777;
  font-size: 24px;
}

.intro-description-text {
  font-family: sf-light, Roboto, Helvetica !important; /*change the fonts*/
  color: #777;
}

.intro-description-text span {
  font-family: sf-light, Roboto, Helvetica !important; /*change the fonts*/
  color: #777;
}

.intro-description-text p {
  font-family: sf-light, Roboto, Helvetica !important; /*change the fonts*/
  color: #777;
  font-size: 14px;
}

.paragraph-description {
  color: #777;
}

#decorator-block {
  background-color: #efefef;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#decorator-block-blue {
  background-color: #5865ce;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#decorator-block-black {
  background-color: #3c3c3c;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.decorator-block-light-grey {
  background-color: #cdcdcd;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.full-image-center {
  display: block;
  margin-left: Auto;
  margin-right: auto;
  padding: 4rem;
  width: 100%;
}

.process {
  padding-bottom: 4rem;
}

.process-image {
  display: block;
  margin-left: Auto;
  margin-right: auto;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.process-image-no-text {
  display: block;
  margin-left: Auto;
  margin-right: auto;
  width: 100%;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.deocoration-bar {
  width: 30px;
  height: 10px;
  background-color: #ffd46e;
}

#research-block {
  margin-top: 6rem;
}

.image-block {
  background-color: #ffffff;
}

#analysis-block {
  margin-top: 6rem;
}
#footer-block {
  height: 24rem;
  background-color: #ececec;
  margin-left: 0px;
  margin-right: 0px;
}
.next-page {
  opacity: 0.77;
  font-family: sf-bold;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #919191;
}

.footer-place-holder {
  padding-top: 3rem;
  padding-right: 6rem;
}

.place-holder {
  opacity: 0.77;
  font-family: sf-regular;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 5px;
  color: #919191;
}

.footer-name-holder {
  margin-top: 9rem;
  margin-bottom: 2rem;
}

.oval-holder ul {
  list-style-type: none;
}

.oval-holder li {
  float: left;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.name-holder {
  opacity: 0.77;
  font-family: product-sans-regular !important;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #232323;
}

.content-holder {
  height: 264px;
  background-color: #ececec;
  margin-bottom: 10px;
}

#section-x-block {
  margin-top: 4rem;
}

#subsection-x-block {
  margin-top: 0rem;
}

.section-header h2 {
  opacity: 0.77;
  font-family: Product Sans, Helvetica, sans-serif !important; /*change the fonts*/
  text-align: center;
  padding-left: 55px;
  color: #111;
  font-size: 42px;
}

.text-box {
  background-color: #ececec;
}
.text-box-inner {
  padding: 30px 12px 12px 12px;
}
.text-box-inner p {
  padding-top: 20px;
  color: #555;
}
.text-box-inside {
  padding-left: 4rem;
  padding-right: 0px;
}

#summary-block {
  margin-top: 6rem;
}

.icon i :hover {
  color: #4285f4 !important;
}
.heart i :hover {
  color: #cc7474 !important;
}

.link-holder {
  margin-top: 1rem;
}
.icon a {
  color: black;
  text-decoration: none;
}

.no-touch .card:hover .card-circle--articleIfNoImage {
  top: 10px;
  right: 18px;
}

.no-touch .card:hover .is-notShownIfHover {
  display: none !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.no-touch .card:hover .is-shownIfHover {
  display: inline-block !important;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.card .is-notShownIfHover {
  display: inline-block !important;
}

.card .is-shownIfHover {
  display: none !important;
}
/* Change here */
#introduction-block {
  margin-top: 17rem;
  margin-bottom: 15rem;
  height: 16rem;
}
.introduction-block-description {
  padding: 3rem 0 0 3rem;
}

/* .name-block {
  transform: translate(-50%, -50%);
  height: 6rem;
} */

.projects-container-header h2 {
  font-family: product-sans-regular;
}
.projects-container-header p {
  font-family: sf-light;
}

.introduction-block-image {
  border-radius: 10px;
}
.introduction-block-image img {
  width: 30rem;
  height: 18rem;
}
div.rotate-text-1 {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}

.hi-Namaste {
  font-family: sf-mono-regular;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  color: #999999;
}


.name-block {
  width: 319px;
  height: 28px;
  font-family: product-sans-regular;
  margin: -1rem 0 0 0;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  letter-spacing: normal;
  color: #777777;
}


.job-block {
  width: 36.5rem;
  height: 40px;
  font-family: product-sans-regular;
  font-size: 48px;
  margin: 3rem 0 0 0;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  letter-spacing: normal;
  color: #777777;
}


.blue-font {
  color: #5050bd;
}

.black-font {
  color: #393939;
}

.card-container {
  margin-top: 4rem;
}
.card {
  margin-right: 2rem;
  height: 27rem;
}
.card:hover {
  transform: translate(0, -20px);
  transition-delay: 0s !important;
}
.card-footer {
  background-color: white;
  border: none;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}
.horizontal-line {
  width: 69rem;
}
.projects-container {
  margin-bottom: 5rem;
}

div.badge-block span {
  font-family: sf-light;
  font-size: 11px;
  text-transform: uppercase;
  align-items: flex-end;
  margin: 3rem 0.5rem 0 0;
}
.badge {
  padding: 0.5rem;
}
